@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

//Polices
//Logo et titres: Shrikhand
//Texte: Roboto

* {
    box-sizing: border-box;
   }

//VARIABLES//

$color-one: #9356DC;
$color-two: #FF79DA;
$color-three: #99E2D0;

//FIN DES VARIABLES//

ul {
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

