@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

//Polices
//Logo et titres: Shrikhand
//Texte: Roboto

* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   }

// VARIABLES //

$color-one: #9356DC;
$color-two: #FF79DA;
$color-three: #99E2D0;
$content-background-color: rgb(235, 235, 235);
$location-background-color: rgb(221, 221, 221);
$footer-background-color: rgb(59, 59, 59);

// FIN DES VARIABLES //

// MIXINS * //

@mixin index-title-font {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px;
    font-weight: 900;
  }

@mixin purple-btn {
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    color: white;
    border: transparent;
    border-radius: 25px;
    width: 60%;
    min-width: 35%;
    height: 48px;
    margin-bottom: 50px;
}

@mixin tablet-only {
    @media all and (min-width: 641px) and (max-width: 1024px) { 
        @content; 
    } 
}

@mixin desktop-only {
    @media all and (min-width: 1025px) { 
        @content; 
    } 
  }

// FIN DES MIXINS * //


ul {
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin-bottom: 20px;
    & .header__logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    }
    & .header__logo {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    & .header__form {
        background-color: $location-background-color;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 3px 3px #c6c6c6;
        & .header__form--fa {
            margin-right: 15px;
        }
        & .header__form--input{
            background-color: inherit;
            border: hidden;
            width: 132px;
            font-size: 15px;
            color: #404040;
            font-weight: bold;
        }
    }
    & .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $content-background-color;
        & .header__title, .header__text {
            text-align: center;
        }
        & .header__title {
            @include index-title-font;
            width: 70%;
            margin-top: 30px;
            margin-bottom: 0px;
        }
        & .header__text {
            width: 85%;
            margin-bottom: 30px;
            color: rgb(92, 92, 92);
        }
        & .header__button {
            @include purple-btn;
            @include tablet-only {
                width: 45%;
            }
            @include desktop-only {
                width: 35%;
            }
        }
    }
}

// MIXINS DU MAIN //

@mixin classic-content ($content-background-color) {
    background-color: adjust-color($content-background-color, $lightness: 3%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 70px;
    align-items: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;    
}

@mixin classic-fa ($clr, $size) {
    position: relative;
    left: 40px;
    width: 8px;
    height: auto;
    font-size: $size;
    color: $clr;
}

// FIN DES MIXINS DU MAIN //

main {
    display: flex;
    flex-direction: column;
    &.main--row {
        @include desktop-only {
            flex-direction: row
        }
    }
    & .main__first-content {
        @include desktop-only {
            width: 30%;
            margin-left: 20px;
        }
        & .main__first-content-title {
            @include index-title-font;
        }
        & .main__first-content-nav {
            margin-bottom: 45px;
            @include tablet-only {
                display: flex;
                justify-content: space-around;
            }
            @include desktop-only {
                display: flex;
                flex-wrap: wrap;
            }
            & .main__first-content-nav--classic-card {
                display: flex;
                align-items: center;
                margin: 0 20px;
                @include tablet-only {
                    width: 220px;
                }
                @include desktop-only {
                    width: 300px;
                }
                & .main__first-content-nav--classic-card-number {
                    margin-right: -20px;
                    z-index: 1;
                    color: white;
                    background-color: $color-one;
                    border-radius: 100%;
                    padding: 5px 7px 1px;
                    font-size: 13px;
                }
                & .main__first-content-nav--classic-card-fa {
                    @include classic-fa(adjust-color($content-background-color, $lightness: -45%), larger)
                }
                & .main__first-content-nav--special-card-fa {
                    @include classic-fa($color-one, medium)
                }
                & .main__first-content-nav--classic-card-content {
                    @include classic-content ($content-background-color)
                }
                & .main__first-content-nav--special-card-content {
                    @include classic-content (adjust-color($color-one, $lightness: 31%))
                }
            }
        }
    }
    .main__second-content {
        background-color: $content-background-color;
        @include desktop-only {
            background-color: white;
        }
        & .main__second-content-title {
            @include index-title-font;
            margin-top: 50px;
            @include desktop-only {
                margin-top: 20px;
            }
        }
        & .main__second-content-cards-container {
            @include tablet-only {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            @include desktop-only {
                display: flex;
                flex-wrap: wrap;
            }
            & .main__second-content-card {
                display: flex;
                flex-direction: column;
                margin: 10px 20px -15px;
                z-index: 1;
                height: 250px;
                @include tablet-only {
                    width: 335px;
                }
                @include desktop-only {
                    width: 300px;
                }
                & .container-position-new-and-heart {
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    top: 10px;
                    margin-right: 15px;
                    & .main__second-content--alert-new {
                        background-color: $color-three;
                        color: adjust-color($color: $color-three, $lightness: -35%);
                        font-weight: bold;
                        font-size: 14px;
                        width: 85px;
                        height: 30px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        z-index: 3;
                        margin-bottom: -30px;
                    }
                }
                & .main__second-content-card-img {
                    height: 155px;
                    position: relative;
                    overflow: hidden;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    & img {
                        width: 100%;
                        position: absolute;
                        top: 33%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                & .main__second-content-card-text {
                    background-color: white;
                    padding-top: 10px;
                    padding-left: 10px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    box-shadow: 0px 2px 7px #d6d6d6;
                    & h2 {
                        font-size: 18px;
                        margin-top: 0;
                    }
                    & p {
                        margin-top: -10px;
                        margin-bottom: -10px;
                    }
                    & span {
                        position: relative;
                        bottom: 33px;
                        font-size: x-large;
                        font-weight: 100;
                    }
                }
            }
            .main__second-content--last-card {
                margin-bottom: 40px;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $footer-background-color;
    @include tablet-only {
        align-items: center;
    }
    @include desktop-only {
        align-items: center;
    }
    & .footer__logo {
        width: 120px;
        height: auto;
        margin: 25px;
        filter: invert(1);
    }
    & ul {
        margin: 0 25px 35px 25px;
        & a {
            color: white;
        }
        @include tablet-only {
            display: flex;
            gap: 35px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        @include desktop-only {
            display: flex;
            gap: 135px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
    & li {
        margin-bottom: 8px;
        & span {
            width: 25px;
        }
        & .fa-utensils {
            font-size: medium;
        }
        & .fa-hands-helping {
            font-size: small;
        }
    }
    
}

// CSS DES MENUS //

// MIXINS DES MENUS //

@mixin menu-title-font {
    font-family: 'Shrikhand', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin: 20px;
    font-weight: 100;
  }

// FIN DES MIXINS DES MENUS //

.header-menu {
    & .header-menu-arrow-container {
        display: flex;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
        & .header__logo {
            margin-top: 20px;
            margin-bottom: 15px;
        }
        & .header-menu-fa {
            font-size: 20px;
            position: absolute;
            left: 25px;
            top: 25px;
        }
    }
    & .header-menu-img-container {
        width: 100%;
        margin-top: -40px;
        position: relative;
        overflow: hidden;
        height: 220px;
    }
    & .header-menu-img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.main-menu {
    background-color: $content-background-color;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    margin-top: -60px;
    @include desktop-only {
        &.main-menu--desktop {
            padding: 0 150px;
        }
    }
    & .main-menu-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        margin-bottom: -15px;
        @include tablet-only {
            justify-content: flex-start;
        }
        & .main-menu-title {
            @include menu-title-font;
            margin: 20px 15px;
            @include tablet-only {
                margin: 20px 40px;
            }
        }
        & .main-menu-title-fa {
            font-size: 22px;
            font-weight: 100;
            margin-right: 30px;
        }
    }       
    & .main-menu-section-title {
        margin: 25px 15px 15px;
        font-size: 15px;
        font-weight: 400;
        @include tablet-only {
            margin: 25px 40px 15px;
            background-color: $color-three;
            padding: 13px;
            border-radius: 15px;
            color: adjust-color($color: $color-three, $lightness: -45%);
            font-weight: bold;
        }
        @include desktop-only {
            font-size: 18px;
        }
    }
    & .main-menu-section-title-deco {
        border-top: solid $color-three;
        height: 0%;
        width: 40px;
        margin: -13px 15px 8px;
        @include tablet-only {
            display: none;
        }
        @include desktop-only {
            margin: -13px 15px -5px;
        }
    }
    & .main-menu-sections-container {
        @include tablet-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        & .main-menu-choices {
            background-color: white;
            padding: 10px;
            box-shadow: 0px 2px 7px #d6d6d6;
            margin: 15px 15px;
            border-radius: 15px;
            @include tablet-only {
                width: 315px;
            }
            @include desktop-only {
                margin: 30px 15px;
            }
            & h2 {
                margin-top: 0;
                margin-bottom: -7px;
                font-size: 16px;
                max-width: 80%;
                @include desktop-only {
                    margin: 0 25px -7px;
                    max-width: 100%;
                }
            }
            & .main-menu-choices-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include desktop-only {
                    margin: 0 25px;
                }
                & p {
                    font-size: 13px;
                    margin-bottom: 0;
                    max-width: 80%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            & .main-menu-choices-details :nth-child(2) {
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    & .main-menu-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        & .main-menu-btn {
            @include purple-btn;
            @include tablet-only {
                max-width: 45%;
            }
            @include desktop-only {
                max-width: 35%;
            }
        }
    }
}




// FIN DU CSS DES MENUS //